.ButtonCustomButton{
    padding: .8em;
    border-radius: 8px;
    border: none;
    background-color: var(--color-c);
    color: var(--color-f);
    font-weight: 600;
    margin-bottom: 1em;
    transition: .2s ease-in;
}

.ButtonCustomButton:hover{
    background-color: var(--color-f);
    color: var(--color-c);
    border: 2px solid var(--color-c);
    cursor: pointer;
    transform: scale(1.05);
}