
  /* css para controlar los estilos del mapa de la seccion de contacto */
  .TourSectionMapMainContainer{
    width: 100%;

  } 
.contactSectionImgContainer{
    
    padding: 0;
    
}


.TourSectionMapContainer{
    width: 100%;

}




  .leaflet-container{
    width: 100%;
    height:50%
    
   }
   




.contactSectionMainContainer{
    margin-top: 96px;
}




.contactSectionContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

@media screen and (min-width: 700px) {
  
   
    .contactSectionContainer{
        
       width: 80%;
        

    }
   
  }
@media screen and (min-width: 900px) {
  
   
    .contactSectionContainer{
        
       width: 70%;
        

    }
   
  }

@media screen and (min-width: 1200px) {
  
   
    .contactSectionContainer{
        
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        

    }
    .ContactSectionimg{
        min-width:  100%;
        
    }
    .contactSectionImgContainer{
        width: 50%;
        
    }

    .contactSectionMainContainer{
        margin-top: 96px;
    }
   
  }

  @media screen and (min-width: 1400px) {
  
    .contactSectionMainContainer{
        margin-top: 132px;
        margin-bottom: 64px;
    }
    
   
  }








