.ReactGridGallery_tile-viewport {
    
    height: 110px !important;
    width: 100% !important;
   
    margin: .2em;
    
}

.ReactGridGallery iframe:first-child{
    width: 186px;
}

.ReactGridGallery_tile {
    background-color: #fff !important;
}

.GalleryCustomMainContainer{
    margin-top: 96px;
}

.GalleryCustomContainer{
    width: 100%;
    margin-top: 16px;
}

.ReactGridGallery_tile-viewport{
   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 14px;
    height:146px !important;
    background-color: aqua;
   
   
    
   
    
   
}
.ReactGridGallery_tile{
    object-fit: cover !important;
    border-radius: 14px;
    margin-top: 6px !important;
    margin-left: 6px !important;
    
    margin-right: 6px !important;
    
    
}
.ReactGridGallery_tile img{

    object-fit:cover !important;
    margin-left: -16px !important;
    margin-right: -16px;
   
   height: 100% !important;
   max-height: 360px !important;
}


#ReactGridGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ReactGridGallery_tile-viewport img{
    height: 60px;
    object-fit: cover;
    
    
    
}
.ReactGridGallery_tile-viewport img:hover{
    transform: scale(1.4);
    
}


.ReactGridGallery_tile-overlay{
    border-radius: 16px;
}

.image_1swebtw-o_O-imageLoaded_zgbg08{
    border-radius: 16px;
}
.thumbnail_199fmdb{
    border-radius: 12px !important;
}
.thumbnail_199fmdb-o_O-thumbnail__active_ave2ei{
    border-radius: 12px !important;
}








@media screen and (min-width: 567px) {
    
    .ReactGridGallery_tile-viewport{
        height: auto !important;
        width: auto !important;
        margin: .8em;
        
        
       
    }
    .ReactGridGallery_tile-viewport img{
        transform: scale(1.1);
        transition: .4s ease-out;
    }
 
    #ReactGridGallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
  }


  @media screen and (min-width: 1200px) {
    .GalleryCustomContainer{
        width: 80%;
        
    }

 
  }