*{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --color-a: #3f578f;
    --color-b: #21857c;
    --color-c: #5B51D8;
    --color-d: #3c6382;
    --color-e: #f5f6fa;
    --color-f: #dee2e6;
    --color-g: #c8d6e5;
    --color-h: #596275;


  }




.color-a{
    color: var(--color-a);
}
.color-b{
    color: var(--color-b);
}
.color-c{
    color: var(--color-c);
}
.color-f{
    color: var(--color-f);
}
.color-h{
    color: var(--color-h);
}

.border-rounded-a10{
    border: 1px solid var(--color-a);
    border-radius:10px ;
}
.border-rounded-g10{
    border: 2px solid var(--color-g);
    border-radius:10px ;
}
.padding-04em{
    padding: .4em;
}
.padding-1em{
    padding: 1em;
}
.padding-left02{
    padding-left: .2em;
}
.padding-left05{
    padding-left: .5em;
}
.padding-left1{
    padding-left: 1em;
}


.textDecorationNone{
    text-decoration: none;

}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    text-align: center;
}

.text-center{
    text-align: center;
}

.shadow-1{
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.bk-none{
    background-color: none;
}
.bk-fff{
    background-color: #fff;
}

.mt--8{
    margin-top: -8px;
}
.mt--6{
    margin-top: -6px;
}
.mt--2{
    margin-top: -2px;
}
.mt-0{
    margin-top: 0;
}
.mt-2{
    margin-top: 2px;
}
.mt-6{
    margin-top: 6px;
}
.mt-10{
    margin-top: 10px;
}
.mt-12{
    margin-top: 12px;
}
.mt-16{
    margin-top: 16px;
}
.mb-0{
    margin-bottom: 0px;
}
.ml--1em{
    margin-left: -1em;
}
.ml-6{
    margin-left: 6px;
}
.mr-6{
    margin-right: 6px;
}

.font-600{
    font-weight: 600;
}
.font-400{
    font-weight: 400;
}
.font-700{
    font-weight: 700;
}
.font-800{
    font-weight: 800;
}
.ml-05em{
    margin-left: .5em;
}
.ml-1em{
    margin-left: 1em;
}

.hidden{
    display: none;
}

.width-98 {
    width: 98%;
}
.width-90{
    width: 90%;
}
.width-80{
    width: 80%;
}
.width-70{
    width: 70%;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-32{
    font-size: 32px;
}
.border-a{
    border: 1px solid black;
}
.border-b{
    border: 1px solid beige;
}


.font-size24{
    font-size: 24px;
}
.font-size28{
    font-size: 28px;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}


.rounded-sm{
    border-radius: 22%;
}

.self-start{
    align-self: flex-start;
}
.hover-scale-02{
    transition: .15s ease-out;
}
.hover-scale-02:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.hover-scale-01{
    transition: .15s ease-out;
}
.hover-scale-01:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.hover-scale-005{
    transition: .15s ease-out;
}
.hover-scale-005:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.hover-ml-05{
    transition: .3s ease-out;
}
.hover-ml-05:hover{
    margin-left: .5em;
}
.hover-ml-1{
    transition: .5s ease-out;
}
.hover-ml-1:hover{
    margin-left: 1em;
}


@media screen and (min-width: 800px) {
   .md-show{
    display: flex;
   }
   .RMD-hide{
    display: none;
   }

   .md-hide{
    display: none;
   }
   .md-font-16{
    font-size: 16px;
   }
   .md-font-18{
    font-size: 18px;
   }
   
   .md-font-20{
    font-size: 20px;
   }
   .md-font-28{
    font-size: 28px;
   }
   .md-font-32{
    font-size: 32px;
   }
   
  }

  @media screen and (min-width: 900px) {
    .mdlg-show-flex{
        display: flex;
    }

    
   }
  
@media screen and (min-width: 1200px) {
    .lg-show{
     display: flex;
    }
 
    .lg-hide{
     display: none;
    }
    .lg-font-16{
     font-size: 16px;
    }
    .lg-font-18{
     font-size: 18px;
    }
    
    .lg-font-20{
     font-size: 20px;
    }
    .lg-font-28{
     font-size: 28px;
    }
    .lg-font-32{
     font-size: 32px;
    }
    .lg-mt-32{
        margin-top: 32px;
    }
    .lg-width-80{
        width: 80%;
    }
    .lg-width-90{
        width: 90%;
    }

    .lg-self-end{
        justify-self: flex-end;
       
    }
    .lg-space-around{
        justify-content: space-around;
    }
   
    
   }