

/* testimonials                  testimonials              testimonials */
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-top: 16px;
   
}

.testimonial-heading-container{
    border: 2px solid var(--color-a);
    padding: 8px 8px;
}
.testimonial-heading{
    letter-spacing: 1px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{
    border-bottom: 2px solid var(--color-a);
}

.client-comment{
    margin-top: -30px;
}
.testimonial-heading span{
    
    color:var(--color-a);
    
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    
    background-color:var(--color-e);
   
    margin: 15px;
    cursor: pointer;
    transition: .2s ease-in;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
   
    margin-right: 10px;
    
   
    
}
.reviews{
    margin-left: .5em;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-top: .5em;
    padding-left: .5em;
    
    
}
.profile{
    display: flex;
    align-items: center;
    
}
.name-user{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-top: .5em;
    
}
.name-user strong{
    color: var(--color-f);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: var(--color-f);
    font-size: 0.8rem;
}

.box-top{
   background-color: var(--color-a);
   width: 100% !important;
   border-radius: 10px;
    display: flex;
   
    align-items: center;
   
}
.client-comment p{
    font-size: 0.9rem;
    color: var(--color-h);
}
.testimonial-box:hover{
   transform: scale(1.05);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
       
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
      
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}

